.container{
    margin: none;
    border: 1px solid chartreuse;
    border-radius: 5px;
    background-color: #333;
    overflow: auto;
    padding: 30px;
    min-width: 500px;
    min-height: 300px;
}