*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.task-details-container {
	background: #444;
	margin: 15px 0;
	padding: 15px 20px;
	display: flex;
	flex-direction: column;
	color: #eee;
	border-radius: 5px;
	
}

.task-details-container h2 {
	margin-bottom: 5px;
	color: chartreuse;
	font-size: 20px;
	font-weight: bold;
}
.task-details-container{
	font-size:16px;
}
.back-button-container {
	width: 30%;
	margin-top: 10px;
}
.add-details-task {
	height: auto;
	padding: 0 10px;
	border-radius: 5px;
	border: none;
	background-color: #444;
	color: #eee;
	font-size: 16px;

	
  }